* {
    font-family: 'Playfair Display', serif;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.header{}
.header .h1{}
.header .h1 .a{}
.header .nav{}
.header .ul{}
.header .li{}
.header .li .a{}